<blockquote>
  Si no somos capaces de vivir enteramente como personas, hagamos lo posible para no vivir enteramente como animales.<br>
  <cite>
    &mdash; from Ensayo Sobre la Ceguera by José Saramago
  </cite>
</blockquote>
