<p>
  <img style="width: 100%" src="<%PUBLIC_URI%>/assets/QmZiDzoXx2gP4j39RwTjun59hMRaUyFL5YVHN4jcEukH7C" title="claustro 0" />
</p>

<p>
  <img style="width: 100%" src="<%PUBLIC_URI%>/assets/QmQufAzAm22g1d16o1aTqrAMhNicWbdDxDEo4DCAcoY7G5" title="claustro 1" />
</p>
