<div style="margin: 14px 0">
  <iframe style="width: 100%; height: 28px;" src="<%PUBLIC_URI%>/assets/QmUdrY3QHEXjrCP3JFcHGTnAcUFtHKFa7FpyQ4jYWp2aLC" frameborder="0"></iframe>
</div>

<p>
  Si me preguntan… no se ni que diga, pero se siente bien!!!
</p>

<p>
  Como una ves se dijo:
</p>

<blockquote>
  Hasta hoy no tengo idea de qué estaban cantando esas italianas. La verdad ni quiero saberlo. Hay cosas que es mejor no saber. Prefiero pensar que era algo tan hermoso que no puede expresarse en palabras y te hace sufrir por eso mismo. Esas voces se elevaban a una altura y lejanía que nadie osa soñar en un lugar gris. Era como un hermoso pájaro aleteando en nuestra jaula que hizo derretir esos muros. Y por un brevísimo momento todos en la prisión se sintieron libres.
  <br>
  <cite>
    &mdash; Red at <a href="https://www.imdb.com/title/tt0111161">The Shawshank Redemption</a>
  </cite>
</blockquote>
