<blockquote>
  Es mucho mejor no ser diferente de la mayor&iacute;a. Los feos y los est&uacute;pidos son quienes mejor lo pasan en el mundo. Se pueden sentar a sus anchas y ver la funci&oacute;n con la boca abierta. Aunque no sepan nada de triunfar, se ahorran al menos los desenga&ntilde;os de la derrota. Viven como todos deber&iacute;amos vivir, tranquilos, despreocupados, impasibles. Ni provocan la ruina de otros, ni la reciben de manos ajenas. Tu situac&iacute;on social y tu riqueza, Harry; mi cerebro, el que sea; mi arte, cualquiera que sea su valor; la apostura de Dorian Gray: todos vamos a sufrir por lo que los dioses nos han dado, y a sufrir terriblemente.
  <br>
  <cite>
    &mdash; from El Retrato de Dorian Gray by Oscar Wilde
  </cite>
</blockquote>
