<blockquote>
  Todos tenemos una máquina del tiempo; las que nos llevan al pasado son recuerdos y las que nos llevan al futuro son sueños.
  <br>
  <cite>
    &mdash; Morlocks Leader at <a href="https://www.imdb.com/title/tt0268695">The Time Machine</a>
  </cite>
</blockquote>
