<p>
  ¿Será verdad que solo cuando uno se queda completamente solo es cuando se da cuenta de su verdadera existencia? Y es esta misma la que nos obliga a buscar la compañía de otras personas sólo por temor a la soledad que provoca la oscuridad de nuestras propias almas.
</p>

<p>
  Sales a caminar por las calles, vagando como buscando que alguien grite tu nombre a lo lejos, un eco perdido en la oscuridad de las mortecinas luces que alumbran el pavimento mojado por la leve brisa. Caminas por todos los callejones aledaños a tu casa, esas paredes a las que temes por el simple hecho de que nadie aguarda tras la puerta.
</p>

<p>
  Después de largo rato y sin éxito alguno en tu búsqueda del suspiro del alma de un ente conocido decides entrar en un bar a beber un trago y siempre con la idea de encontrar a alguien conocido. Miras a tu alrededor, todos gozan de una compañía, por más bizarra que parezca. Observas a las personas como tratando de adivinar qué es lo que cada uno de ellos piensa, como tratando de comunicarte con ellos, de romper el hielo pero solo telepáticamente y sin poder articular palabra alguna.
</p>

<p>
  Regresas a la calle sabiendo que ninguna persona se percató de que ya no estas en aquel rincón bebiendo tu cerveza, inmerso en tu soledad. Sabiendo que cada paso que des alejándote de ese lugar es un paso más cerca a tu hogar (si es que asi le puedes llamar). Por más que postergues tu llegada al final tendrás que atravesar esa puerta y tratar de descansar, de buscar una salida a otro mundo.
</p>

<p>
  Cada noche tratas de dormir tanto como el día anterior, sin embargo no lo has logrado ya hace tiempo atrás, es por eso que te has vuelto nocturno, ¡que mejor manera de hacer frente a tu soledad!, ¡nocturno! cuando las demás personas con vidas normales duermen y nadie puede escucharte.
</p>

<p>
  Las noches oscuras de lluvia son las más inspiradoras para pensar en todo lo que has hecho para hallarte solo. Cada una de tus acciones, cada uno de tus pasos y jamas, jamas encontraras respuesta a lo que para empezar no tiene pregunta. Sentado en tu cama y de fondo tu ópera favorita, esas notas y esas voces que le dan forma a tu imaginación, que elevan un mundo de sueños perdidos y que se disipan como el humo de una hoguera, los tizones solo son una pobre imagen de lo que tu mente había construido.
</p>

<p>
  Tic tac tic tac. El tiempo se ha ido, el tiempo no espera y por fin quedas dormido, pero no es un sueño profundo, sigues pendiente del mundo que te rodea, de todos esos tenues sonidos que imprimen imágenes de paranoia en tu perturbada mente. Al día siguiente volverás a ser nocturno, te has saboteado a ti mismo nuevamente.
</p>
