<blockquote>
  Fue una espera interminable. No sé cuánto tiempo pasó en los relojes, de ese tiempo anónimo y universal de los relojes, que es ajeno a nuestros sentimientos, a nuestros destinos, a la formación o al derrumbe de un amor, a la espera de una muerte. Pero de mi propio tiempo fue una cantidad inmensa y complicada...
  <br>
  <cite>
    &mdash; from El túnel by Sábato, Ernesto 
  </cite>
</blockquote>
