<p>
  <img style="width: 100%" src="<%PUBLIC_URI%>/assets/QmZTfpHVESyDqCiXuHK2t6vkFeRwe8QaA2as7njewheDDw" title="parque nacional el chico 0" />
</p>

<p>
  <img style="width: 100%" src="<%PUBLIC_URI%>/assets/Qmf2cYfUpTZYP23C8nxpFvPTH3M6cSXSBSkiEtuMH1SgBt" title="parque nacional el chico 1" />
</p>
