<p>
  <img style="width: 100%" src="<%PUBLIC_URI%>/assets/QmYBGsGTPBdu6LEEdMhiXPW3c1cua8cLXsr4gHjz7wsWHr" title="amanda" />
</p>

<p>
  observo nuevamente su foto como tratando de recordarla, de darle rostro a esa bella figura. su memoria quedó atrapada en el tiempo, presa de su misterio.
</p>

<p>
  ya no recuerdo los senderos por los que caminábamos, el viento los ha borrado, ni un ápice de locura queda en él, se ha llevado nuestros pasos a paraísos sin gris, a lugares olvidados, prófugos de la humanidad, presos de su belleza.
</p>

<p>
  el viento ya no guarda su aroma, su cruel fragancia, lluvia adictiva.
</p>

<p>
  su movimiento inerte, danzante sin espacio, incorpóreo… volátil, fiero, ausente...
</p>

<p>
  postrada en un muro esconde celosamente su misterio, rostro de concreto...
</p>
