<p>
  a month ago i start a #nopoo routine. time to time i use an egg to clean up my hair and only water the other days.
</p>

<p>
  more or less at the same time i quit using soap on my face. my plan is use only water to clean all my body, from top to bottom (head, chest, legs) until drop soap forever.
</p>

<p>
  maybe i need to change my diet in order to complement all this self clean routines. because some imperfections have been appearing on my scalp and my face along with dandruff. i think that if i change my eating habits it could accelerate the healing process, but it is a big step because i love to eat without limitations.
</p>

<p>
  <a href="<%PUBLIC_URI%>/assets/QmWzyTzmmhKRqPCaL8NCftGD1XXoRN6r1nSYg9g3R67Asb" target="_blank" />
    <img src="<%PUBLIC_URI%>/assets/QmTTkVvHS54vLz6aNeAG9vf3p1YPDd3mVvS9DqbCv16Ai6" title="nopoo" />
  </a>
</p>
