<p>
  &mdash; i have words in my mind that needs to be pronounced.
</p>

<p>
  &mdash; that's shit man! why didn't you spoken it yet? because you are a coward!. you are afraid, you are a slave of being as straight as the rules you follow.
</p>
