<p>
  <a href="<%PUBLIC_URI%>/assets/bafybeidrfcnqpmvlaf3qunipqbukbcwqihxvnocryeg5dw52cype7xihym" target="_blank">
    <img src="<%PUBLIC_URI%>/assets/QmV1XmAgfzP2yiNpobECF3RTKtawe4YWJos7uqKDg3FgbV" title="river 0" />
  </a>
</p>

<p>
  <a href="<%PUBLIC_URI%>/assets/bafybeiailo3cxzruioqrfbn6e2btoifj7hxqzvijbmbaedoj2y4a3dccxe" target="_blank">
    <img src="<%PUBLIC_URI%>/assets/QmRTYS2qkq2XzKcpgoJL5pEA9zda2GTaeDAUh6SAZbUgk8" title="river 1" />
  </a>
</p>

<iframe width="100%" height="420" src="<%PUBLIC_URI%>/assets/bafybeibelaqx77747mq2eyhhwfwy7yvsshaho7ao42fahclalna4rxrqgm" frameborder="0" allowfullscreen></iframe>
