<h3>context</h3>

<p>
  once upon a time on twitter: <i>explain what a programmer do actually (wrong answers only).</i>
</p>

<h3>response</h3>

<p>
  try to delegate all trivial stuff to machines, but we are afraid to delegate it all. because at the end we will be obsoletes.
</p>
