<p>
  today i dream about Putin (yes the Russian president), it was very bizarre, i only remember that i said to him that they do not care about who will be the next president of USA then he replies (in a perfect spanish) "i know where did you saw that", then we both laughted.
</p>

<p>
  i think that i been doing a lot of RT and all their satellital channels along with another not confirmed RT sponsored channels.
</p>

<p>
  damn i need to ship my ass to Mother Russia!
</p>
