<h2>
  new skates!
</h2>

<p>
  <a href="<%PUBLIC_URI%>/assets/QmTjQZ4HE8XXDquMCcd2R19jqbbSnrApjXtUiSPWXHfinS" target="_blank">
    <img src="<%PUBLIC_URI%>/assets/QmW2CM5yPDzzBWv2HPnbqx8rrKzaBYRAhLBWbz25ytnrWv" />
  </a>

  <a href="<%PUBLIC_URI%>/assets/QmceqMigMaB3AyF9E4CX9ri9K7Z7MFi2vJvhWtZSWfiYcb" target="_blank" />
    <img src="<%PUBLIC_URI%>/assets/QmPb1VvFpWWZfn91t1FBvrKQzC7xCZAPaHBeDjrf7SNVsx" />
  </a>
</p>
