<p>
  maybe the question was: in your own words what is happiness?
</p>

<p>
  all the responses are valid from each particular situation, but in the deepest meaning of the concept maybe all their answers are influenced by all that things that they can not reach or posses, by all that images of society that everyone have institutionalized almost instinctively. possessions; useless material stuff.
</p>
