<p>
  <a href="<%PUBLIC_URI%>/assets/QmaztSkkQxoopg7JhyMDh9NCxf4AGotwCYBKQEpEDiAkMF" target="_blank">
    <img src="<%PUBLIC_URI%>/assets/QmTrWBh85EoWeJGqowfa5vQq1MVBzu2QNt4u6R5p79pmF7" title="road" />
  </a>
</p>
