<h2>nov 22, 2020</h2>

<p>
  today i forgot to use my pads. rollerblading lesson learned!
</p>

<p>
  <a href="<%PUBLIC_URI%>/assets/QmQU7381cAnwvBYwxTt2KRSGuepNQ6H6iJGTS3GHhLwmbj" target="_blank">
    <img src="<%PUBLIC_URI%>/assets/QmZaQtgcKjiGEwQWKDixq34WrkYX2fQth9Wokj6rAVDqUc" />
  </a>
</p>

<h2>nov 24, 2020</h2>

<p>
  today i put "the finger of god" instead of antiseptic solutions. looks like god have a good touch!
</p>

<p>
  <a href="<%PUBLIC_URI%>/assets/QmPtbCDgCEUuS68aVa6VdJ21L3ntsv9Cd73tjfPT1bTZA5" target="_blank">
    <img src="<%PUBLIC_URI%>/assets/QmQsaKbTRFZVhohFDRgP1fssdjYnMyevGFUu9sAjd2Z5ed" />
  </a>
</p>

<p>
  <a href="<%PUBLIC_URI%>/assets/QmUHjgxismNaPsQYkyBPCVRxxpBvVp2iXy1G4bAmPipkCc" target="_blank">
    <img src="<%PUBLIC_URI%>/assets/QmXMh5aX5af1h38HuhKAo66XWga3xoohZouSUntWzWGJbU" />
  </a>
</p>

<h2>nov 26, 2020</h2>

<p>
  since the picture of day 0 i can't believe how healed looks.
</p>

<p>
  <a href="<%PUBLIC_URI%>/assets/QmR9zBRpE9g92Tb3E5k2W3WvzKRvrLvBDK6szoxxAgzUFi" target="_blank">
    <img src="<%PUBLIC_URI%>/assets/QmTtV6ocq4b8Rx2kZMGy3W8hqE7NeGNuF1W9ap1eDzeG6R" />
  </a>
</p>

<h2>dec 24, 2020</h2>

<p>
  hello friend!
</p>

<p>
  <a href="<%PUBLIC_URI%>/assets/QmeGq6CjqMDPREXaCmU8jTynC4U5GWsuVpQAbTCoiirY9G" target="_blank">
    <img src="<%PUBLIC_URI%>/assets/QmSqSs1aji12MZ8zvc87kkDRW3gWNh9DXALtoK9QDypG3a" />
  </a>
</p>
