<p>
  i always been against to copyrights, copylefts and any legend that gives you power over what you publish on the internet. then this week surfing in the "darknet" i found this footer: <i>released into public domain</i>. it fits perfectly to my actual way of thinking.
</p>

<p>
  &mdash; who wrote that?
</p>

<p>
  &mdash; it doesn't matters. i wrote it because someone wrote it, then anyone else wrote it too. that makes it a litte bit more truly. and if you write it too... well i hope you'll catch it!.
</p>

<p>
  any shit that you publish on any platform, or wrote it on a paper, even if you speak it out loud. it not belongs to you anymore.
</p>

<p>
  so...
</p>
