<p>
  ¿realmente necesitamos comercio informal?
</p>

<p>
  es cómodo a la hora de las carreras, resultado de esos cinco minutos de mas que ya no te sirven para descansar.
</p>

<p>
  te permiten olvidarte practicamente de todo. que se te olvidó rasurarte pues lleve su rastrillo de dos por diez pesitos. que las uñas largas, no importa levele para ir cortando. que trae la melena larga pues ¡pasele!, siempre hay banqueta para darle solución. a mí siempre me han salvado los calcetines de cinco varos.
</p>

<p>
  estan hasta en la ciencia ficción, jamás quedarán sepultados en los registros de la historia. tendremos hotdogs de tres por cien creditos en marte (con cochambre incluido).
</p>

<p>
  dicen los científicos que aún después de un ataque nuclear van a sobrevivir alacranes, cucarachas y sí, el wey de los jochos.
</p>
