<h2>
  new skates!
</h2>

<p>
  <a href="<%PUBLIC_URI%>/assets/QmUEmuhNksafLrVAjaxQB3smLThiqYhx94apZwFrD1KoPQ" target="_blank">
    <img src="<%PUBLIC_URI%>/assets/QmRiakPm9qFL7czNWXZ6JmcjhMXXN7mmWX3DhVXj91Hc4R" />
  </a>

  <a href="<%PUBLIC_URI%>/assets/QmTh3e1gcViyaVHEjuS3RrCwPwwda7TZd3cGDahhtSyEop" target="_blank" />
    <img src="<%PUBLIC_URI%>/assets/QmegnEEhAkbVxbRcbsW1BA9VCJhrbCzHAqqXqGzUv8vEGW" />
  </a>

  <a href="<%PUBLIC_URI%>/assets/QmTQNuhPyGUEv9dmq8MbboBh7Md2MawEJRwijyYsteqnJu" target="_blank" />
    <img src="<%PUBLIC_URI%>/assets/QmbH1QUcioY67LFNpbsHBMMprCsjZuYodZixG1beGCH5HF" />
  </a>

  <a href="<%PUBLIC_URI%>/assets/QmZcezEyodDUeXXktKxhsZ3HEdfobfNJm59mBFmi759SaD" target="_blank" />
    <img src="<%PUBLIC_URI%>/assets/QmXJmCVSfrdWNszQyW1j3K9EBh5VUqTDyzD7f1Ui7Mf4eq" />
  </a>
</p>
