<p>
  i think that the next words could crucify me.
</p>

<p>
  my favourite futuristic dystopian world is as the title said <i>the purge</i>.
  i need to see it time to time in order to clean myself of the actual reality.
  stop! i know how it sounds but realy i think that i can't kill anyone.
</p>

<p>
  there are people that argue that it is economically worthless.
  but we know that financial entities are already financing wars, so they can take care of its assets during the purge.
  but war has been working for the last <i>n</i> years for the usa.
</p>

<h2>
  why?
</h2>

<p>
  because the bare idea of <strong>death sentence</strong> if you rob a single penny is good enough to keep you civilized.
</p>

<h2>
  where to hide?
</h2>

<p>
  this is the first thought that comes to me.
</p>

<p>
  if in this future the world has been united in a one and only federation the participation could be world wide.
  so, maybe there couldn't be any scape corner.
</p>

<p>
  i want to believe that there are more good people than evil ones, but currently we are a lot, a lot of people living in this platet.
  and we all know that <i>the thing about civilization is, it keeps you civil.</i><a href="#r1">[1]</a>.
  and who knows how many potential murderers, torturers or rapist are out there (i only list those because i can't imagine any more disgusting shit).
</p>

<h2>
  to participate or not to participate
</h2>

<p>
  i don't want to actively participate, the only way that comes to my mind is to rob some fucking bank.
  but in order to incorporate <i>the purge</i> as a social behaviour catalyst the new world order needs to remove the phisical cash flow.
  then i can't participate at all.
</p>

<p>
  people said that there is only one murder that separates you from being careless about life.
  so, maybe your first could be on self defence, as we saw on the tv series.
</p>

<h2>
  help or look aside?
</h2>

<p>
  assume that you are hidden and can help someone. did you help her/him?
</p>

<ol>
  <li>you have to reveal your place.</li>
  <li>assume that you need to kill someone to help that prey person. could you do it?</li>
  <li>who verifies that there is only the hunters that you could see?. then you go to the first point.</li>
  <li>what if it's a trap?</li>
</ol>

<hr />

<p>
  <a id="r1">[1]</a> the expanse series, amos to clarissa on <a href="https://www.imdb.com/title/tt12355684/?ref_=ttep_ep6">tribes episode</a>.
</p>
