<p>
  <a href="<%PUBLIC_URI%>/assets/QmR7EhGBMnJkvZjaMT5vRJgAsdHnsDnT6cL9cFna97hvQ6" target="_blank">
    <img src="<%PUBLIC_URI%>/assets/QmZ1V58bfo3E4RnLBvyq2Aj16uMyJiC81GHEvcaBw73zoA" />
  </a>
</p>
