<p>
  <a href="<%PUBLIC_URI%>/assets/QmcehqqaeNK5WuZmU4CEUmLFacv81A7d4ZQfK2EpXh5VDD" target="_blank">
    <img src="<%PUBLIC_URI%>/assets/QmQqfHjXVffEhh3mYVoGz6E8tVvmCsWJJeJ8KezH1m4RVq" />
  </a>
</p>
