<p>
  <a href="<%PUBLIC_URI%>/assets/QmcsNPHnReESFDA2ZSoAxXFFuUmAWaWCDqkeBwevyhp17E" target="_blank">
    <img src="<%PUBLIC_URI%>/assets/QmX4ibaDDbXjTpeWSuZhL7QAc9QYnBQRoxQSTwHAJdccrc" />
  </a>

  <a href="<%PUBLIC_URI%>/assets/QmZ6SLrPmNyAe3Cirw1pYYM8sBYawT9yNhwWjBU72SXyct" target="_blank">
    <img src="<%PUBLIC_URI%>/assets/QmSMN7iUmMktNvZKg6tytGjybGpKntpGrm7Gcw26ZaTNY6" />
  </a>
</p>
