<p>
  <a href="<%PUBLIC_URI%>/assets/QmWnKXwLtfDnhWJ1dpo3P3G9jYbBvum4FcievL1oLUfH7H" target="_blank">
    <img src="<%PUBLIC_URI%>/assets/QmdfbwKJqRNhmSZZLetwkpkriNQvg7qN1x2gB1ZaViggaS" />
  </a>

  <a href="<%PUBLIC_URI%>/assets/QmTbwmttbPucBHvPGQVTvoLgbxcwJ7xCQVjLxTzHXYo7YW" target="_blank">
    <img src="<%PUBLIC_URI%>/assets/QmXkYckwtgQFW2E35xDKAz2b2VAbDQrcp8b1HSig6XMBid" />
  </a>

  <a href="<%PUBLIC_URI%>/assets/QmemJCWH5fWhnL3UqZ716CvmUGBjeHbgMg41X5QkHXxjb3" target="_blank">
    <img src="<%PUBLIC_URI%>/assets/QmeMxcQc56XUM6b6g6BPT2XZFBBxPBF8mbb3KFoixEobMG" />
  </a>
</p>
